<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
    <div class="form-group col-sm-3">
            <label for="selSoccerGame">Select a Soccer Game:</label>
            <select class="form-control" id="selSoccerGame" name="selSoccerGame">
            </select>
          </div>  
       <form action="">
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="selEvent">Select a Event:</label>
            <select class="form-control" id="selEvent" name="selEvent">
            </select>
          </div>    
          <div class="form-group col-sm-3">
            <label for="minute">Minute:</label>
            <input type="number" class="form-control" id="minute" placeholder="Enter minute" name="minute">
          </div> 
          <div class="form-group col-sm-3">
            <label for="selPlayerL">Select a Player(Team Local):</label>
            <select class="form-control" id="selPlayerL" name="selPlayerL">
            </select>
          </div>    
          <div class="form-group col-sm-3">
            <label for="selPlayerV">Select a Player(Team Visitor):</label>
            <select class="form-control" id="selPlayerV" name="selPlayerV">
            </select>
          </div>          
        </div>
        <div class="form-group row">
          <label for="btnTeamL">Team Local: </label>
        	<button  class="btn btn-primary col-sm-2" id="btnTeamL"  value="dd"></button>
          <label for="btnTeamL">Team Visitor: </label>
          <button  class="btn btn-primary col-sm-2" id="btnTeamV" value=""></button>
          
        </div>
      </form>
      <ul id="events"></ul>
      <script src="/socket.io/socket.io.js"></script>
      <script>
        getSoccerGame();        
        getEvents();
        var socket = io();
        $(function () {
          $( "#btnTeamL" ).click(function(e) {
            e.preventDefault();            
            fetch('http://localhost:3000/detail_matchs/create', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({
              tournament_result: $("#selSoccerGame").val(), 
              type_event: $("#selEvent").val(), 
              player: $("#selPlayerL").val(), 
              time: $("#minute").val(), 
              isLocalEvent:true})
            });
            socket.emit('events', {
              tournament_result: $("#selSoccerGame").val(), 
              type_event: $("#selEvent").val(), 
              player: $("#selPlayerL").val(), 
              time: $("#minute").val(), 
              isLocalEvent:true});
          });  
          $( "#btnTeamV" ).click(function(e) {
            e.preventDefault();

            socket.emit('events', {
              tournament_result: $("#selSoccerGame").val(), 
              type_event: $("#selEvent").val(), 
              player: $("#selPlayerV").val(), 
              time: $("#minute").val(), 
              isLocalEvent:false});
          });          
          socket.on('events', function(event){
            console.log(event)
            $('#events').append($('<li>').text(
              'Evento: '+event.type_event
              +'; Minutoo: '+event.time
              +'; Local: '+event.isLocalEvent));
          });
        });        
        //llena combo Partidos
        function addSoccerGame(soccerGame){
            $("#selSoccerGame").append(`
              <option value=${soccerGame._id}>${soccerGame.local_team.name} vs ${soccerGame.visitor_team.name}</option>`)
        }   
        function getSoccerGame(){
            $.get('http://localhost:3000/tournament_results/get', (data) => {
              data.forEach(addSoccerGame);
              $("#btnTeamL").html(`${data[0].local_team.name}`);
              $("#btnTeamL").val(`${data[0].local_team._id}`);
              $("#btnTeamV").html(`${data[0].visitor_team.name}`);
              $("#btnTeamV").val(`${data[0].visitor_team._id}`);
              getPlayerL();
              getPlayerV();
              console.log($("#btnTeamL").html());
            });
            
            
        }
        //llena combos Eventos
        function addEvent(events){
            $("#selEvent").append(`
              <option value=${events.name}>${events.name}</option>`)
        }   
        function getEvents(){            
            $.get('http://localhost:3000/events/get', (data) => {
              data.forEach(addEvent);
            });
        }
        //llena combos Jugadores Locales
        function addPlayerL(playerL){
            $("#selPlayerL").append(`
              <option value=${playerL._id}>${playerL.name}</option>`)
        }   
        function getPlayerL(){
            $.get('http://localhost:3000/players/getByTeam/'+$("#btnTeamL").val(), (data) => {
            data.forEach(addPlayerL);
            });
        }
        //llena combos Jugadores Visitantes
        function addPlayerV(playerV){
            $("#selPlayerV").append(`
              <option value=${playerV._id}>${playerV.name}</option>`)
        }   
        function getPlayerV(){
            $.get('http://localhost:3000/players/getByTeam/'+$("#btnTeamV").val(), (data) => {
            data.forEach(addPlayerV);
            });
        }
    </script>

</body>
</html>
