<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">                                      
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Seleccione el Partido
    <span class="caret"></span></button>
    <ul class="dropdown-menu" id="lista">
    </ul>
  </div>
</div>
<script>
    getEvents();
    function addSoccerGame(soccerGame){
        $("#lista").append(`
            <li><a href="#">${soccerGame.local_team.name} vs ${soccerGame.visitor_team.name}</a></li>`)
    }   
    function getEvents(){
        $.get('http://localhost:3000/tournament_results/get', (data) => {
        data.forEach(addSoccerGame);
        });
    }
</script>
</body>
</html>
