nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Admin
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/teams') Teams
      li.nav-item
        a.nav-link(href='/tournament_standings') Tournament standings
      li.nav-item
        a.nav-link(href='/tournament_results') Tournament results
      li.nav-item
        a.nav-link(href='/events') Events
